/* CSS-Datei von Klo-Watch.de */

body{
    background-color: rgb(0, 100, 0);
}

h1{
    color: white;
    text-align: center;
    padding-top: 10%;
}

h2{
    color: rgb(235, 204, 120);
    text-align: center;
}

h3{
    color: rgb(235, 204, 120);
    font-size: xx-small;
    text-align: center;
    padding-top: 50px;
}

.eingabe{
    min-width: 200px;
    
}

.outputfield{
    padding-top: 50px;
    min-width: 200px;
}